
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
/*font for my whole website*/
body {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400u;
  font-style: normal;
  font-variation-settings: 
  "wdth" 100;
}

div.gallery {
    border: 1px solid #ccc;
  }
  div.gallery:hover {
    border: 1px solid #777;
  }
  div.gallery img {
    height: 357px;
    width: 300px;
  } 
  div.desc {
    padding: 15px;
    text-align: center;
  } 
  * {
    margin: 0%;
    box-sizing: border-box;
  }
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }




/*header for the navbar design*/
  header {
    background-color: #f8f6e9;
    width: 100%;
    position: fixed;
    top: 20;
    left: 20;
    z-index: 500;
    display: flex;
    justify-content: auto;
    align-items: auto;
    padding: 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: 
    "wdth" 100;
  }
  
  
/*navbar*/
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px; /* Increased font size */
  font-weight: 400; /*font weight*/
}
/*underline text on hover*/
nav ul li a:hover {
  text-decoration: underline;
  
}
/*extra nav dropdown*/
nav ul li a {
  padding: 3px;
  display:inline-block;
  color:rgb(0, 0, 0);
  text-decoration:none;
}
nav ul li ul {
  display:none;
  position:auto;
  left:0;
  background:#f8f6e9;
  float:auto;
}
nav ul li ul li {
  width:100%;
  border-bottom:1px solid rgba(255, 255, 255, 0);
}
nav ul li:hover ul {
  display:block;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
  color: black;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  background-color: #f8f6e9;
}



/* image slideshow*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.slowFade {
  display: flex;
  align-items: flex-start;
  background: #fff;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.slowFade .slide img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  background: #000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  opacity: 0;
          animation: slowFade 32s infinite;
}
.slowFade .slide:nth-child(3) img {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}
.slowFade .slide:nth-child(2) img {
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
}
.slowFade .slide:nth-child(1) img {
  -webkit-animation-delay: 24s;
          animation-delay: 24s;
}
@keyframes slowFade {
  25% {
      opacity: 1;
      transform: scale(1) rotate(0);
  }
  40% {
      opacity: 0;
  }
}
@-webkit-keyframes slowFade {
  25% {
      opacity: 1;
      transform: scale(1) rotate(0);
  }
  40% {
      opacity: 0;
  }
}



/*grid container for products*/
.grid-container {
  display: grid;
  column-gap: 0px;
  grid-template-columns: auto auto auto auto auto;
  background-color: rgb(250, 248, 232);
  padding: 10px;
}

.grid-item {
  background-color: rgb(249, 248, 237);
    border: 1px solid rgba(0, 0, 0, 0.568);
    padding: 1%;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    font-style: light;
    font-variation-settings: 
    "wdth" 100;
  }
/*image sizing inside each container*/
img {
  width:300px;
  height:400px;
}




/*input contact form*/
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
}



/*input newsletter*/
.pxs-newsletter {
  width: 100vw;
  padding: 30px;
}
.pxs-newsletter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  font-size: 14px;
  background-color: #24241f;
  fill: #24241f;
  color: #f8f6e9;
}
section {
  display: block;
  background-color: #24241f;
}
* {
  box-sizing: border-box;
}
user agent stylesheet
section {
  display: block;
  unicode-bidi: isolate;
}

/* button span*/
.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color:#24241f; 
  color: white;
}

.button{
  display: block;
  font-size: 24px;
  font-family: "Inconsolata", monospace;
  text-decoration: none;
  color: #333;
  padding: 5px;
  letter-spacing: 2px;
  transition: all .25s;
}

.button:hover{
  letter-spacing: 20px;
}


